@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

h1 {
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
}

h2 {
    font-family: "Great Vibes", cursive;
    font-size: 2rem;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(https://images.pexels.com/photos/1624487/pexels-photo-1624487.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    text-decoration: bolder;
}

main {
    display: inline-block;
    padding: 2rem;
    background-color: #ffffffaa;
}

ul {
    margin-top: 0;
    padding-left: 0;
    list-style-position: inside;
}

.fa-book-open {
    color: deepskyblue;
}

.fa-bread-slice {
    color: sienna;
}

.fa-utensils {
    color: gray;
}

.fa-ice-cream {
    color: lightcoral;
}